<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTML5 Template (title)</title>
	<meta name="description" content="HTML5 template">
	<meta name="author" content="Mechatronic Solutions LLC">
	<!-- add stylesheet below -->
	<!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>
<body>

<h2>json.html</h2>

<p>data_json: </p>
<p>{{name}}</p>


<!-- ********************************************************************** -->

<!-- any body javascript goes below -->
<!-- <script src="js/scripts.js"></script> -->
</body>
</html>